---
# Admin ldap user
ldap_admin_user: admin

# Plaintext LDAP password for config files
ldap_pass: "password"

# ldap password for admin user.  Generate using slappasswd -h {ssha} -s password
ldap_pwd_hash: "{SSHA}abc123"
