#!/bin/sh -e
# basex startup script
#chkconfig: 2345 80 05
#description: BaseX
 
# Define some variables
APP=basex
# Name of the user to run as
USER={{basex_user}}
# Location of application's bin directory
BIN_HOME={{basex_dir}}/basex
 
case "$1" in
  # Start command
  start)
    echo "Starting $APP"
    cd BIN_HOME/bin
    /bin/su -m $USER -c "$BIN_HOME/bin/basexhttp &> /dev/null"
    ;;
  # Stop command
  stop)
    echo "Stopping $APP"
    /bin/su -m $USER -c "$BIN_HOME/bin/basexhttpstop &> /dev/null"
    echo "$APP stopped successfully"
    ;;
   # Restart command
   restart)
        $0 stop
        sleep 5
        $0 start
        ;;
  *)
    echo "Usage: /etc/init.d/$APP {start|restart|stop}"
    exit 1
    ;;
esac
 
exit 0
